html {
    font-family: Arial, sans-serif;
}

p {
    padding: 0 5px;
    text-indent: 3em;
}

h2 {
    padding: 0px 10px;
    text-align: center;
}

.faixa{
    width: 100%;
    height: 300px;
    background-image: url("images/Perfil/fundo linkedin.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center -280px;
    background-size:cover;
    background-color: #000;
    color: rgb(0, 0, 0);
}

body {
    margin: 0 0 20px 0;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    display: block;
    margin: -100px auto 0 auto; 
}


.primeiras-informacoes {
    align-items: center;
    display: block;
    margin: 0 auto auto 0;
}

.name {
    font-size: 2em;
    margin: 0;
    text-align: center;
    margin: 20px 0 0 0;
}

.description {
    font-size: 1.2em;
    margin: 10px 0 0 0;
    text-align: center;
}

.carousel {
    width: 55%;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: auto auto auto auto;

}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

.projeto {
    margin-top: 50px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome_livro {
    font-style: italic;
    font-weight: bold;
}

.palavra_lingua_estrangeira {
    font-style: italic;
}


.organizando-projeto {
    width: 100%;
}

.caixa_explicativa_projeto{
    align-items: left;
    width: 40%;
    display: block;
    margin: auto auto auto auto;
}

.background_text{
    background-image: url("images/Perfil/fundo linkedin.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    background-size:cover;
    background-color: #000;
    color: rgb(0, 0, 0);
}

.video-centralizado{
    display: block;
    margin: 0 auto;
}

#nome_desenvolvedor {
    font-family: 'Kablammo';
    font-size: 20px;
}

#creditos_site{
    padding-right: 5%;
    text-align: right;
}