html {
    font-family: Arial, sans-serif;
}

.faixa{
    width: 100%;
    height: 150px;
    background: linear-gradient(
        to bottom,
        
        rgb(248, 241, 199) 120px, 
        rgb(220, 220, 175) 120px,
        white 100%
    );
}

body {
    margin: 0 0 400px 0;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    display: block;
    margin: -100px auto 0 auto; 
}


.primeiras-informacoes {
    align-items: center;
    display: block;
    margin: 0 auto auto 0;
}

.name {
    font-size: 2em;
    margin: 0;
    text-align: center;
    margin: 20px 0 0 0;
}

.description {
    font-size: 1.2em;
    margin: 10px 0 0 0;
    text-align: center;
}

.carousel {
    width: 55%;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0 0 auto auto;
    border: 3px dotted black;

}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

.projeto {
    margin-top: 50px;
    padding: 20px;
    border: 3px dotted black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.organizando-projeto {
    width: 100%;
}

.caixa_explicativa_projeto_a_esquerda {
    align-items: left;
    width: 40%;
    display: block;
    margin: auto auto auto auto;
    border: 3px dotted rgb(255, 11, 11);
}
